.header {
    padding: 1px;
    text-align: center;
    color: rgb(1,0,72);
    font-size: 30px;   
    font-weight: 600;
    margin-top: -60px;
    margin-right: 5%;
    z-index: 0;
    position: fixed;
}

.fieldset {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    }

.button {
    text-align-last: center;
}