
.item {
    border-top: solid;
    padding-top: 1%;
    border-color: rgb(0, 0, 0);
    width: 300%;
    float: left;
    position: relative;
    left: -100%;
}


.text_container {
    float: left;
    margin-bottom: 1px;
    padding-left: 10px;
    position: relative;
}

.text {
    margin-right: 10px;

}



.button {
    position: relative;
    margin: auto;
    margin-left: 10%;
    float: right;
}